venv/
.idea/
.vscode/
g.*
/.env.deployment
/.env.test
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
.tox/
htmlcov/
